<!DOCTYPE html>
<html>
<head>

	<meta name = "viewport" content = "device-width=screen-width, initial-scale=1.0"/>
	<link href = "bootstrap/css/bootstrap.min.css" rel  = "stylesheet"/>
    <link href = "css/login.css" rel  = "stylesheet"/>
    
	<script src = "jquery_224.js" type = "text/javascript" ></script>
	<script src = "bootstrap/js/bootstrap.min.js" type = "text/javascript" ></script>
	<title>
	Movie Page
	</title>
	<script>
	function setUser(event)
	{
		console.log("setUser()");
		val = $.post("/set/user",{"id": $("#user_id_input").val()},setUserDetails)
		$("div#user_choice").attr({"hidden": true});
		//console.log(val);
		//console.log("here2");
	}
	function setUserDetails(data)
	{
		console.log("setUserDetails()");
		user_id = $("#user_id_input").val();
		data  = JSON.parse(data);
		$("dd#user_id").html(user_id);
		$("dd#user_age").html(data.age);
		$("dd#user_gender").html(data.gender);
		$("dd#user_occupation").html(data.occupation);
		getSets();
	}
	function getSets()
	{
		console.log("getSets()");
		$.getJSON("/get/sets", null ,showSets);
		
	}
	function showSets(data)
	{
		console.log("showSets()");
		$("ul#candidate_set").attr({"hidden":false});
		candidate_set = data[0];
		ranked_set = data[1];
		for( i = 0 ; i < candidate_set.length ; i++)
		{
			
			$("ul#candidate_set").html( $("ul#candidate_set").html() + "<li class = 'list-group-item'>"+candidate_set[i]+"</li>");
		}
		$("dl#ranked_set").attr({"hidden":false});
		for( i = 0 ; i < ranked_set.length ; i++)
		{
			
			$("dl#ranked_set").html( $("dl#ranked_set").html() + "<dt class = 'list-group-item'>"+ranked_set[i][0]+"</dt><dd class = 'list-group-item'>"+ranked_set[i][1]+"</dd>");
		}
		
		
	}
	</script>
</head>	
<body>
<div class = "container" id = "container-1" >
	<div class = "row well" id = "userDetails" >
	<h4>User Details:</h4>
		<dl class = "dl-horizontal" id = "user">
		<dt> Id: </dt><dd id = "user_id"></dd>
		<dt> Age: </dt><dd id = "user_age"></dd>
		<dt> Gender: </dt><dd id = "user_gender"> </dd>
		<dt> Occupation </dt> <dd id = "user_occupation"></dd>
		</dl>
	</div>
	
	<div class = "row " id = "user_choice">
		<span class = ""> Enter User Id ( 1 to 943 ): </span>
		<input type = "number" id = "user_id_input" min = "1" max = "943"/>	
		<input type = "button" id = "choose_user" value = "select" onclick = "setUser(event);"/>
	</div>
	
	<div class = "row" id = "sets" > 
		
		<ul class = "list-group col-xs-6" id = "candidate_set" hidden>
		<h4>Candidate Set:</h4>
		</ul>
		<dl class = "dl-horizontal list-group col-xs-6" id = "ranked_set" hidden>
		<h4>Ranked Set - Scored</h4>
			<dt>Movie Id:</dt><dd>Score:</dd>
		</dl>
	</div>
</div>
</body>
</html>